<div class="top-wrapper">
    <h3><%= obj1 %></h3>
</div>
<p><span>＊</span>は必須項目です</p>
<% if flash[:notice] %>
    <div class="flash">
        <p><%= flash[:notice] %></p>
    </div>
<% end %>
<div class="form-background">
    <div class="form-wrapper">
        <%= form_with model: @plan do |f| %>
            <div class="title">
                <h4>タイトル<span>＊</span></h4>
                <%= f.text_field :title, placeholder: "タイトル" %>
            </div>
            <div class="date-wrapper">
                <div class="date">
                    <h5>開始日<span>＊</span></h5>
                    <%= f.date_field :start %>
                </div>
                <div class="date">
                    <h5>終了日<span>＊</span></h5>
                    <%= f.date_field :end %>
                </div>
            </div>
            <div class="all-day">
                <%= f.check_box :allday %>
                <h5>終日の場合はチェックを入れます</h5>
            </div>
            <div class="memo">
                <h4>スケジュールメモ</h4>
                <%= f.text_area :memo, placeholder: "メモを入力する" %>
            </div>
            <ul>
                <li><%= link_to "キャンセル", :plans %></li> 
                <li><%= f.submit obj2 %></li>                
            </ul>
        <% end %>
    </div>
</div>